body,html {
	background: $color-base;
	color: #fff;
	padding:0;
	margin:0;
	overflow-x: hidden;
	font-family: "Avenir Next";
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Superclarendon', serif;
	text-transform: uppercase;
}

.nav__list {
	list-style: none;
	text-align: right;
	li {
		display: inline;
		padding-right: 1em;
		&:last-child {
			padding-right: 0;
		}
	}
}

.sky {
	background: $color-sky;
	min-height: 50%;
	color: #FFF;
	padding-bottom: 6em;
}

.ground {
	min-height:75px;
	width:100%;
	max-width:100%;
	background: $color-ground;
	position: relative;
}