body,html {
	background: $color-base;
	color: #fff;
	padding:0;
	margin:0;
	height: 100%;
}

.sky {
	background: $color-sky;
	min-height: 50%;
}

.ground {
	min-height:10%;
	width:100%;
	background: $color-ground;
	position: relative;
}