header {

	.banner {
		background-color: #003366;
		text-align: center;
		padding: 10px 0;
		font-size: 14px;
	}

	.logo {
		background-image: url('/assets/img/logo.png');
		width: 200px;
		height: 200px;
		top: 0;
		position: absolute;

		@include transform(scale(0.5));

		a {
			width: inherit;
			height: inherit;
			display: block;
		}
	}

	nav {
		text-align: center;
		padding: 25px 0;
		margin: 0 0 35px 0;

		li {
			font-size: 25px;
			font-weight: bold;
			padding: 0 15px;
			border-right: 1px solid #fff;
			display: inline-block;

			&:last-child {
				border: none;
			}
		}
	}

}
