@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";
@import "../../bower_components/bitters/app/assets/stylesheets/base";

.default-ul {
	@extend %default-ul;
}

$color-base: #615B5D;
$color-highlight-one: #D9FDBF;
$color-highlight-two: #AEEEFF;

$color-sky: $color-highlight-two;
$color-ground: $color-highlight-one;

@import "base";
@import "content";
@import "objects";
