@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";
@import "../../bower_components/bitters/app/assets/stylesheets/base";

.default-ul {
	@extend %default-ul;
}

$color-base: #4A3B15;
$color-highlight-three: #1B6C8B;

$color-sky: #D9FCFF;
$color-ground: #ACDE78;
$color-ground-dark: #80C075;

$x-small: new-breakpoint(min-width 560px 12);
$small: new-breakpoint(min-width 730px 12);
$medium: new-breakpoint(min-width 1130px 12);

@import "base";
@import "header";
@import "footer";
@import "content";
@import "buttons";
