body,html {
	font-family: Georgia, ‘Times New Roman’, serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Superclarendon', serif;
	text-transform: uppercase;
}

h2 {
	text-align: center;
}

h2 + p {
	text-align: center;
}

h3 {
	padding-top:1em;
}

a {
	color: #0066cc;
	text-decoration: underline;
}


.header__title {
	text-align:center;
	font-size: 3em;
	a {
		color: #000;
		text-decoration:none;
	}
}

.header__nav {
	display: none;
}

.content a {
	&:after {
		content: " (" attr(href) ") ";
	}
}

.content {
	
}

.content__main-callout {
	text-align: center;
}

.content__main-callout-header {
	display:none;
}

.content__ticket {
	width: 80%;
	margin: 0 auto;
	border: 1px dotted black;
	padding: 10px;
	margin-bottom:3em;

	.content__ticket-image {
		display: inline-block;
		width: 30%;
		height: 100%;
		content: url('/assets/img/logo.png');
		vertical-align: top;
	}
	.content__ticket-title {
		display: none;
	}
	.content__ticket-details {
		display: inline-block;
		width: 60%;
		padding-left: 5%;
		p {
			font-family: 'Superclarendon', serif;
			text-transform: uppercase;
		}
		span {
			font-family: "Lucida Console", Monaco, monospace;

			&.content__ticket-details-fill-blank {
				display: inline-block;
				border-bottom:1px solid black;
				width: 75%;
			}
		}
	}
	.ticket__record-locator {
		text-align:center;
	}
}

.footer {
	display:none;
}